@model Department

@{
    ViewData["Title"] = "Create";
}

<h1> Create Department </h1>

<br />



<form asp-action="Create">

    <partial name="DepartmentPartialViews/_CreateEditPartiaView" model="@Model" />


    <input type="submit" value="Create" class="btn btn-primary" />
    <a asp-controller="Department" asp-action="Index" class="btn btn-light">Back To List</a>

</form>



