@model Department


@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Department </h1>

<br />


<form asp-action="Delete">

    <partial name="DepartmentPartialViews/_DeleteDetailsPartialView" model="@Model" />


    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-controller="Department" asp-action="Index" class="btn btn-light">Back To List</a>

</form>