@model Department
@{
    ViewData["Title"] = "Details";
}

<h1>Department Details</h1>

<br />



<div>

    <partial name="DepartmentPartialViews/_DeleteDetailsPartialView" model="@Model" />

    <a asp-controller="Department" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>

    <a asp-controller="Department" asp-action="Index" class="btn btn-secondary">Back To List</a>
</div>

