@model UserViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>Department Details</h1>

<br />

<div>
    <partial name="UserPartialViews/_DeleteDetailsUser" />
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a  asp-action="Index" class="btn btn-secondary">Back To List</a>
</div>

