@model RoleViewModel
@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h1>Department Details</h1>

    <br />

    <div>
        <partial name="RolePartialView/_DeleteDetailsRole" />
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
        <a asp-action="Index" class="btn btn-secondary">Back To List</a>
    </div>


</div>