@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "_Auth";
}


<div>
    <div class="signIn-container  my-4 justify-content-end mb-4 w-50 m-auto py-5">
        <div class="m-auto my-5 d-flex align-items-center justify-content-center">
             <h1>Forget Password</h1>
        </div> 
        <div class="mx-5 d-flex flex-column">
            <p style="font-size:20px;color:#989898">Please enter your email to reset the password</p>
            <form class="d-flex flex-column" asp-action="SendResetPassword">
                <label>Your Email</label>
                <input class="form-control mb-4 mt-2 w-100" asp-for="Email" placeholder="Enter Your Email" />
                <div asp-validation-summary="All" class="text-danger" style="text-decoration:none;list-style:none;"></div>
                <button class="ForgetPass btn text-light w-50 mb-3" type="submit" asp-action="SendResetPassword">Reset Password</button>
            </form>
        </div>

    </div>
</div>

@section ValidationSection {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
