
@{
    ViewData["Title"] = "SendResetPassword";
    Layout = "_Auth";
}



<div class="signIn-container  my-4 justify-content-end mb-4 w-50 m-auto py-5 px-5">

    <h1>Send Reset Password</h1>
    <p style="font-size:20px;color:#989898">
        We sent a reset link to contact@dscode...com
        enter 5 digit code that mentioned in the email
    </p>
    <form class="" asp-action="SendResetPassword">
        <label>Your Email</label>
        <input class="form-control mb-4 mt-2" placeholder="Enter Your Email" />
        <a class="btn btn-dark text-light">Reset Password</a>
    </form>
</div>

@section ValidationSection {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
