@model SignInViewModel
@{
    ViewData["Title"] = "SignIn";
    Layout = "_Auth";
}


<div>
    <div class="signIn-container d-flex my-4 justify-content-end mb-4 w-75 m-auto">
        <div class="my-4" style="width:730px">
            <img src="~/Files/Images/undraw_remotely_2j6y.svg" class="w-100" />
        </div>
        <form asp-action="SignIn" class="SignIn-user-info d-flex justify-content-center align-items-center ">
            <div>
                <h2 class="my-5">Log In</h2>
                <div asp-validation-summary="All" class="text-danger" style="list-style:none;"></div>
                <div class="input-icons">
                    <i class="fa-solid fa-at"></i>
                    <input asp-for="Email" class="input-field pt-1" type="email" placeholder="Email" required="" />
                </div>

                <div class="input-icons">
                    <i class="fa-solid fa-lock"></i>
                    <input asp-for="Password" class="input-field pt-1" type="password" placeholder="Password" required="" />
                </div>
                <label class="my-3">
                    <input asp-for="RememberMe" type="checkbox" class="checkbox" required="">
                    <span>Remember Me</span>
                </label>
                <button type="submit" class="px-4 py-2 rounded-2 my-3 w-100" id="logInBtn" value="SIGNIN">
                    LogIn
                </button>
                <p style="font-size:19px">Don't Have an Account ? <a asp-action="SignUp" style="font-size:19px">Create New Account</a></p>
                <p> <a asp-action="ForgetPassword" style="font-size:19px">Forget Password ? </a></p>
            </div>
        </form>
    </div>
</div>

@section ValidationSection {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
